.container {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

.sidebar {
  width: 20%;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.sidebar-logo-text {
  display: flex;
  gap: 15px;
  align-items: center;
}

.supplier-logo {
  color: #077aff;
}

.supplier-title {
  font-size: 20px;
  font-weight: 500;
}

.arrow-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.sidebar-unorder-list {
  margin-top: 10px;
  padding-left: 0;
  list-style-type: none;
}

.sidebar-list-all {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: center;
  color: #676767;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-list-all:hover {
  background-color: #dceeff;
  color: #1d4ed8;
}

.sidebar-list-all.active {
  color: white;
  font-weight: 500;
}

.main-content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.link {
    text-decoration: none;
    color: #676767;
}